<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <h6 class="mt-2">プロフィール画像</h6>
  <%= f.file_field :profile_image, placeholder: "画像", accept: "image/*" %>
  
  <div class="field">
   <%= f.label :name %><br>
   <%= f.text_field :name, autofocus: true  %>
  </div>
  
  <div class="field">
   <%= f.label :grade %><br>
   <%= f.text_field :grade %>
  </div>
  
  <div class="field">
   <%= f.label :course %><br>
   <%= f.text_field :course %>
  </div>
  
  <div class="field">
   <%= f.label :line_name %><br>
   <%= f.text_field :line_name %>
  </div>
  
  <div class="field">
   <%= f.label :group %><br>
   <%= f.text_field :group %>
  </div>
  
  <div class="field">
   <%= f.label :section %><br>
   <%= f.text_field :section %>
  </div>
  
  <div class="field">
   <%= f.label :email %><br>
   <%= f.email_field :email, autocomplete: "email" %> 
 </div>
  


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
