
<div class="container mx-auto mt-4 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-5 pt-5 text-center">
      <%= image_tag @user.get_profile_image(150,180) %>
      <div>
        <%= link_to "編集", edit_user_path(@user.id), class: "btn text-primary" %>
        <%= link_to "削除", user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn text-primary" %>
       </div>
    </div>
    <div class="col-lg-3  col-md-4 mt-3 mx-3 px-5" style="width: 63%;">
      <p class="mb-0 text-dark mt-3"  style="font-size: 10px"><%= @user.furigana %></p>
        <p class="mb-0 mt-1"  style="font-size: 15px"><%= @user.name %></p>
        <div class="d-flex mt-1">
          <p class="mb-0 text-dark" style="font-size: 15px"><%= @user.college %></p>
         <p class="mb-0 text-dark" style="font-size: 15px"><%= @user.grade %>年</p>
        </div>
       <p class="mb-0 mt-1" style="font-size: 15px"><%= @user.course %></p>
       <p class="mb-0 mt-1"><%= @user.segment %></p>
       <p class="mb-0 mt-1"><%= @user.section %></p>
       <div class="d-flex">
         <p>LINE</p>
         <p class="px-3">
           <%= @user.line_name  %>
          </p>
      </div>
  </div>
</div>

<p class="text-center mt-5">記録した体験記</p>

<% @exps.each do |exp| %>
<%= link_to expression_path(exp.id) do %>
  <div class="row mt-4 mb-3 pb-3 justify-content-center">
    <div class="col-lg-2 mt-2 text-center">
        <%= image_tag exp.get_exp_image(180,100) %>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4 class="mb-3 text-center pt-3"><%= exp.title %></h4>
       <p class="mx-auto text-body" style="width: 70%;"><%= exp.content.truncate(32) %></p>
       <div class="mx-auto mt-2 d-flex justify-content-between" style="width: 55%">
       <p class="" style="color: #DAA520;"><%= exp.user.name %></p>
       <% if exp.favorited_by?(current_user) %>
        <%= link_to expression_favorites_path(exp), method: :delete, class: "align-middle" do %>
           <i class="fa-solid fa-heart"></i><%= exp.favorites.count %>いいね
        <% end %>
        <% else %>
        <%= link_to expression_favorites_path(exp), method: :post, class: "align-middle" do %>
           <i class="fa-solid fa-heart"></i><%= exp.favorites.count %>いいね
        <% end %>
      <% end %>
      </div>
        <p class="text-right mb-0"style="color: #808080; width: 80%;"><%= l exp.created_at %></p>
    </div>
  </div>
  <% end %>
  <% end %>