<div class="container">
  <div class="row justify-content-center pb-4">
    <div class="col-9 mx-3 mt-3 ">
        <h5>編集フォーム</h5>
        <%= form_with model: @post do |f| %>
           <%= f.select :type, options_for_select({ ボランティア: 'ボランティア', イベント: 'イベント', お知らせ: 'お知らせ' }),class: 'form-control' %>
            <h6 class="mt-2">画像を選択</h6>
            <%= f.file_field :image, placeholder: "画像", accept: "image/*" %>
            <h6 class="pt-2">タイトル</h6>
            <%= f.text_field :title,class: 'form-control' %>
            <div class="form-group">
              <%= f.label :date_decided, "日時が決まっていますか？",class: "mt-2" %>
              <%= f.select :date_decided, [['はい', true], ['いいえ', false]], { prompt: '選択してください' }, class: 'form-control', id: 'dateDecidedSelect' %>
            </div>
            <div class="form-group" id="datePicker">
              <h6 class="mt-2">日時</h6>
              <%= f.datetime_select :start_time%>
            </div>
            <div class="form-group" id="textInput" style="display: none;">
              <%= f.label :approximate_date, "アバウトな日程を入力してください" %>
              <%= f.text_field :approximate_date, placeholder: "2024年内、来週、3月中旬など", class: 'form-control' %>
            </div>
            <h6 class="mt-2">活動場所</h6>
            <%= f.text_field :place,class: 'form-control' %>
            <h6 class="pt-2">内容</h6>
            <%= f.text_area :content,class: 'form-control'%>
            <h6 class="mt-2">締め切り</h6>
            <%= f.date_select :deadline %>
            <h6 class="mt-2">募集人数</h6>
            <%= f.text_field :number,class: 'form-control' %>
            <h6 class="mt-2">持ち物</h6>
            <%= f.text_field :belongings,class: 'form-control' %>
            <h6 class="mt-2">URL</h6>
            <%= f.text_field :URL,class: 'form-control' %>
            <%= f.submit '編集', class: "btn btn-success mb-2 mt-3 mx-auto"%>
        <% end %>
   </div>
 </div>
</div>

<%= javascript_pack_tag 'post_new' %>

