
<div class="container">
  <div class="mt-3 text-center">
    <h6 class="mt-3 text-center">掲示板</h6>
  <%= form_tag(posts_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], id: "search-box", placeholder: "キーワードを入力" %>
  <%= submit_tag "検索",id: "search-form" %>
  <% end %>
</div>



<div class="my-3 d-block mx-auto text-center" style="width: 75%;">
  <%= link_to "ボランティア", "#",class: "search-link btn btn-success mb-2 mx-2" %>
  <%= link_to "イベント", "#",class: "search-link btn btn-danger mb-2 mx-2" %>
  <%= link_to "お知らせ", "#",class: "search-link btn btn-info mb-2 me-2 mx-2" %>
  <%= link_to "清掃", "#",class: "search-link btn btn-warning mb-2 mx-2" %>
</div>
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  <div class="row mt-4 mb-3 justify-content-center pb-3">
      <div class="col-lg-3 text-center">
        <%= image_tag post.get_image(250,200) %>
      </div>
       <div class="col-lg-4">
         <h4 class="mb-3 text-center pt-3"><%= post.title %></h4>
         <p class="mx-auto mt-4  text-body" style="width: 70%;"><%= post.content.truncate(35) %></p>
         <div class="mt-2 d-flex justify-content-center" style="color: #DAA520;">
         <p class="my-2 mx-3" style="font-size: 10px; color: #999999;"><%= post.user.name %></p>
         <p class="mx-4">日時</p>
         <p><%= post.date_decided ? l(post.start_time) : post.approximate_date %></p>
         </div>
      </div>
  </div>
  <% end %>
  <% end %>
    <%= paginate @posts, theme: 'bootstrap-5', class: "text-center" %>
</div>
<%= javascript_pack_tag 'link' %>