<%= form_tag(posts_path, method: "get") do %>
<%= text_field_tag :search, params[:search], id: "search-box", placeholder: "キーワードを入力" %>
<%= submit_tag "検索" %>
<% end %>
<div class="">
<%= link_to "ボランティア", "#",class: "search-link btn btn-success mb-2" %>
<%= link_to "イベント", "#",class: "search-link btn btn-danger mb-2" %>
<%= link_to "お知らせ", "#",class: "search-link btn btn-info mb-2" %>
<%= link_to "清掃", "#",class: "search-link btn btn-warning mb-2" %>
</div>

  <div class="row mt-3">
    <div class="col-md-8 mx-auto">
      <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
       <section class="bg-white rounded my-5 mx-auto pt-4 pb-4 px-4 d-flex">
         <div class="mx-3">
           <%= image_tag post.get_image(250,200) %>
         </div>
         <div class="mx-auto">
             <h4 class="mb-3 text-center pt-3"><%= post.title %></h4>
             <p class="px-3 mt-4 text-body"><%= post.content.truncate(35) %></p>
           <div class="mt-2 d-flex" style="color: #DAA520;">
             <p class="mx-4">日時</p>
             <p><%= l post.start_time %></p>
           </div>
         </div>
       </section>
        <% end %>
        <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'link' %>