<div class="container">
  <div class="row justify-content-between">
    <div class="col-3 mx-3 mt-3 ">
        <h5>投稿フォーム</h5>
        <%= form_with model: @new_post do |f| %>
            <h6>画像を選択</h6>
            <%= f.file_field :image, placeholder: "画像", accept: "image/*" %>
            <h6 class="pt-2">タイトル</h6>
            <%= f.text_field :title %>
            <h6 class="pt-2">日時</h6>
            <%= f.datetime_select :start_time %>
            <h6 class="pt-2">内容</h6>
            <%= f.text_area :content %>
            <div class="d-flex"></div>
            <h6>締め切り</h6>
            <%= f.date_select :deadline %>
            <h6>募集人数</h6>
            <%= f.text_field :number %>
            <h6>URL</h6>
            <%= f.text_field :URL %>
            <%= f.submit '登録', class: "btn btn-success mb-2"%>
        <% end %>
   </div>
        
 </div>
</div>



